<!DOCTYPE html>
<html>
  <head>
  <title> Rui Liu</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main-navigation" class="clearfix">
      <%= link_to "Rui Liu", root_path, class: "name" %>
      <nav>
        <%= link_to "Articles", posts_path %>
        <%= link_to "Projects", projects_path %>
        <a href="">Contact</a>
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
    </header>
  </body>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% elsif alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>

  <footer id="main-footer">
  <p class="copyright">&copy;2016 Rui Liu</p>
    <nav>
      <a href="https://twitter.com/rliu054" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://github.com/rliu054" target="_blank"><i class="fa fa-github"></i></a>
    </nav>
  </footer>

</html>
